<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
     
      <ion-buttons end>
      <button ion-button icon-right color="royal">
       
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons start>
      <button ion-button menu-toggle icon-left color="royal" menu-toggle>
        
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>

    </ion-toolbar>
</ion-footer>
