/room_reservation_client/.bowerrc
/room_reservation_client/.editorconfig
/room_reservation_client/bower.json
/room_reservation_client/hooks/
/room_reservation_client/platforms/
/room_reservation_client/plugins/
