<ion-view title="Richiesta sala">
    <ion-content padding="true">
        <div >
            <p>Immetti i dati di richiesta della prenotazione</p>
            <form novalidate name="eventform" class="list">
                <label class="item item-input">
                    <input type="tel" placeholder="Da (gg/mm/yyyy hh:mm)" restrict="reject" mask="39/19/9999 29:59" ng-model="event.start" required>
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="A (gg/mm/yyyy hh:mm)" restrict="reject" mask="39/19/9999 29:59" ng-model="event.end" required>
                </label>
<!--
                <label class="item item-input">
                    <input type="text" placeholder="Utente" ng-model="userData.username" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="userData.email" required>
                </label>
-->

                <button ng-click="addEvent(event)" value="Prenota" class="button button-block button-positive" ng-disabled="eventform.$invalid">
                  Richiedi prenotazione
                </button>
            </form>
            <p>{{message}}</p>
        </div>
    </ion-content>
</ion-view>
